<body>
    <div class="bg"></div>
    <div id="error"></div>
    <div class="container">
        <h1>qr kod oluşturucu</h1>
        <p>QR koda çevirmek istediğiniz metni ya da urlyi kutucuğa yazınız.</p>
        <input type="text" id="text" placeholder="Metin ya da url gir...">
        <input type="submit" id="submit" onclick="control(document.querySelector('input[type=text]').value)" value="OLUŞTUR">
        <div id="qrcode"></div>
    </div>
    <script src="script.js"></script>
</body>